* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
    ;
}


header {
    background-color: #242424;
    color: white;
    padding: 20px 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    margin-left: 20px;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    color: darkgray;
}

.hamburger {
    display: none;
    font-size: 32px;
    margin-right: 20px;
    cursor: pointer;
}


#home {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333333;
    padding: 10px;
}

.home {
    width: 1520px;
    height: 720px;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px 12% 100px 12%;
    gap: 3em;

}

.home1 {
    gap: 20px;
    padding-left: 120px;
}

.home1 #h3 {
    font-size: 92px;
    color: #0d0606c6;
    line-height: 1.2;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.home1 #h1 {
    font-size: 92px;
    color: #0d0606c6;
    line-height: 1.2;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.home #name {
    color: #584dedc6;
    line-height: 1.2;
    font-size: 44px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imag {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.imag img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-right: 80px;
    margin-top: 0px;
    border: 5px solid #ffffff;
    box-shadow: 0 0 25px rgba(254, 255, 255, 0.6);
}

.abo {
    width: 1520px;
    padding: 60px 0;
}


.abo {
    width: 100%;
    height: 700px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    word-spacing: 10px;
}

.heading span {
    color: #2a38fa;
}

.abo-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

}

.imag1 {
    padding-right: 250px;
    padding-left: 120px;
    padding-top: 10px;
}

.imag1 img {
    width: 380px;
    height: 450px;
    border-radius: 12px;
}

#det {
    color: #2a38fa;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    max-width: 500px;
    letter-spacing: 2px;
    word-spacing: 5px;

}


#h2 {
    font-size: 32px;
    font-weight: bold;
}


#end {
    font-size: 22px;
    color: #105ecbdd;
}

.details ul {
    list-style: none;
    padding: 0;
    line-height: 1.6;

}

#change,
#det {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.flip-box {
    width: 380px;
    height: 450px;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-front img,
.flip-box-back img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.flip-box-back {
    transform: rotateY(180deg);
}

#outbor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 80px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #f9f9f9;
    padding: 50px;
    border-radius: 40px;

}

#Skills {
    background-color: #f9f9f9;
    padding: 50px 0;
    align-items: center;
    width: 1520px;
    height: 800px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#skill {
    margin-bottom: 30px;
    font-size: 30px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    word-spacing: 10px;
}

#ability {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    word-spacing: 10px;
    color: #2a38fa;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 241, 241);
    width: 120px;
    height: 120px;
    border-radius: 20px;
    color: black;
}

.box img {
    width: 50px;
    height: 50px;
}

.box:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

#Contact {
    background: linear-gradient(to bottom, #ffffff, #e9ecff);
    padding: 60px 0;
    width: 1520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
}

.title {
    font-size: 35px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

#get {
    color: #000;
}

#touch {
    color: #2a38fa;
}


#contact-form {
    width: 50%;
    background: #ffffff;
    padding: 40px 40px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

#contact-form:hover {
    transform: scale(1.02);
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: 0.2s;
    background: #fafafa;
}

#contact-form input:focus,
#contact-form textarea:focus {
    border-color: #2a38fa;
    box-shadow: 0 0 5px rgba(42, 56, 250, 0.4);
}


#contact-form label {
    font-size: 17px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#contact-form input[type="submit"] {
    background-color: #2a38fa;
    color: white;
    border: none;
    padding: 12px 0;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

#contact-form input[type="submit"]:hover {
    background-color: #1a27c4;
    transform: scale(1.03);
}

footer {
    background-color: #242424;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 1520px;
}

#foot {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 30px 30px 30px;
}

#line {
    color: white;
    border: 0.5px solid white;
    margin: auto;
    width: 60%;
}

#info {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding-left: 180px;
}

#name2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.set {
    justify-content: left;
    align-items: left;
    flex-direction: column;
    display: flex;
    line-height: 0%;
    padding-top: 10px;
}

#set1 {
    margin-top: 10px;
}

#contin a img {
    margin-right: 15px;
    transition: transform 0.3s;
}

#contin a img:hover {
    transform: scale(1.2);
}


#continfo {
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: column;
    padding-right: 180px;
}

#contin {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding-right: 70px;
}

@media (max-width: 1024px) and (min-width: 769px) {
    li {
        margin-right: 10px;

    }

    ul {
        padding-left: 550px;
    }

    .home {
        padding-left: 50px 5% 50px 5%;
    }

    .home1 #h3 {
        font-size: 52px;
    }

    .home1 #h1 {
        font-size: 52px;
    }

    .home #name {
        font-size: 24px;
    }

    .imag img {
        width: 300px;
        height: 300px;
    }

    .heading {
        font-size: 25px;
    }

    .abo-con {
        gap: 10px;

    }



    .details {
        width: 350px;
        gap: 8px;
        letter-spacing: 1px;
        word-spacing: 4px;
        padding-bottom: 100px;

    }

    .imag1 {
        padding-right: 90px;
        padding-left: 180px;
        padding-top: 10px;
    }

    .imag1 img {
        width: 280px;
        height: 350px;
    }

    #h2 {
        font-size: 30px;
    }


    #end {
        font-size: 20px;
    }

    .details ul {
        line-height: 1.4;
    }

    #Skills {
        height: 700px;

    }

    #skill {
        font-size: 25px;
    }

    #ability {
        font-size: 25px;
    }

    #outbor {
        gap: 40px;
        font-size: 18px;
        padding: 20px;
        border-radius: 40px;
    }

    .box img {
        width: 40px;
        height: 40px;
    }

    #contact {
        padding: 30px 0;
    }

    .title {
        font-size: 30px;
    }

    #contact-form {
        width: 45%;
        padding: 35px 35px;
    }

    #info {
        padding-left: 30px;
    }

    #name2 {
        font-size: 20px;
    }

    .set {
        padding-top: 20px;
    }

    #set1 {
        margin-top: 30px;
    }

    #continfo {
        padding-right: 50px;
    }

    #contin {
        padding-right: 30px;
        padding-bottom: 40px;
        margin-bottom: 20px;
    }
}


@media (max-width: 768px) {

    li {
        margin-right: 10px;

    }

    ul {
        padding-left: 530px;
    }

    .home {
        padding-left: 50px 5% 50px 5%;
        width: 1520px;
    }

    .home1 #h3 {
        font-size: 42px;
    }

    .home1 #h1 {
        font-size: 42px;
    }

    .home #name {
        font-size: 20px;
    }

    .imag img {
        width: 250px;
        height: 250px;
    }

    .heading {
        font-size: 25px;
    }

    .abo {
        width: 1520px;
    }

    .abo-con {
        gap: 10px;

    }


    .details {
        width: 350px;
        gap: 8px;
        letter-spacing: 1px;
        word-spacing: 4px;
        padding-bottom: 100px;

    }

    .imag1 {
        padding-right: 90px;
        padding-left: 180px;
        padding-top: 10px;
    }

    .imag1 img {
        width: 280px;
        height: 350px;
    }

    #h2 {
        font-size: 30px;
    }


    #end {
        font-size: 20px;
    }

    .details ul {
        line-height: 1.4;
    }

    #Skills {
        width: 1520px;
        height: 700px;

    }

    #skill {
        font-size: 25px;
    }

    #ability {
        font-size: 25px;
    }

    #outbor {
        gap: 40px;
        font-size: 18px;
        padding: 20px;
        border-radius: 40px;
    }

    .box img {
        width: 40px;
        height: 40px;
    }

    #Contact {
        width: 1520px;
        padding: 30px 0;
    }

    .title {
        font-size: 30px;
    }

    #contact-form {
        width: 50%;
        padding: 35px 35px;
    }

    #info {
        padding-left: 30px;
    }

    #name2 {
        font-size: 20px;
    }

    .set {
        padding-top: 20px;
    }

    #set1 {
        margin-top: 30px;
    }

    #continfo {
        padding-right: 50px;
    }

    #contin {
        padding-right: 30px;
        padding-bottom: 40px;
        margin-bottom: 20px;
    }

    footer {
        width: 1520px;
    }

    nav #nav-links {
        display: none;
        flex-direction: column;
        background: #111;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 15px;
        border-radius: 10px;
        gap: 15px;
        z-index: 999;
    }

    nav #nav-links.active {
        display: flex;
    }

    nav #nav-links li a {
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

    /* Hamburger div for mobile/tablet */
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        cursor: pointer;
        z-index: 1000;
    }

    /* Each bar of the hamburger */
    .hamburger .bar {
        height: 4px;
        width: 100%;
        background-color: white;
        border-radius: 2px;
    }
}